.message {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
  }
  
  .user-message .message-content {
    color: #ffffff;
    background-color: #007bff;
    padding: 8px 12px;
    border-radius: 8px;
    max-width: 70%;
  }
  
  .other-message .message-content {
    color: #000000;
    background-color: #f4f4f4;
    padding: 8px 12px;
    border-radius: 8px;
    max-width: 70%;
  }
  
  .message-user {
    font-size: 14px;
    color: #666666;
    margin-bottom: 4px;
    margin-right: 4px; /* Add margin to create space between name and message */  
  }
  
  .message-text {
    font-size: 16px;
  }

  .chat-container {
    position: absolute;
    width: 100%;
    max-width: 400px; /* adjust as needed */
    height: 300px; /* adjust as needed */
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(59, 57, 57, 0.9); /* Utilisation d'une couleur de fond légèrement opaque */
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    z-index: 1000;
  }
  