
/* Styling for next IonButton */
.InputContainer ion-button.menu-button.next {
    --background: #be1532;
    --background-hover: #b42d70;
  }
/* Styling for Confirm IonButton */
.InputContainer ion-button.confirm {
    --background: #4CAF50; /* Couleur de fond */
    --background-hover: #45a049; /* Couleur de fond au survol */
    --color: #fff; /* Couleur du texte */
  }
  
  /* Styling for Replay IonButton */
  .InputContainer ion-button.replay {
    --background: #2196F3; /* Couleur de fond */
    --background-hover: #1e87cd; /* Couleur de fond au survol */
    --color: #fff; /* Couleur du texte */
  }
  
/* Apply hover effect */
.InputContainer ion-button.menu-button:hover {
    opacity: 0.8;
  }
  

  
.success-animation {
  background-color: #4caf50; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur */
  border-radius: 5px; /* Coins arrondis */
  margin-top: 20px; /* Marge supérieure */
  animation: successAnimation 0.5s ease-out; /* Utilisation de l'animation */
}

/* Animation pour le succès */
@keyframes successAnimation {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

/* Animation pour l'échec */
@keyframes failureAnimation {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.failure-animation {
  background-color: #f44336; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur */
  border-radius: 5px; /* Coins arrondis */
  margin-top: 20px; /* Marge supérieure */
  animation: failureAnimation 0.5s ease-out; /* Utilisation de l'animation */
}


/* Animation pour l'échec */
@keyframes nextAnimation {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.next-animation {
  background-color: #c4a911; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur */
  border-radius: 5px; /* Coins arrondis */
  margin-top: 20px; /* Marge supérieure */
  animation: failureAnimation 0.5s ease-out; /* Utilisation de l'animation */
}