#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.player{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#container a {
  text-decoration: none;
}




/* Styling for return IonButton */
.GameContainer ion-button.menu-button.return {
  --background: #2b06d1;
  --background-hover: #3209eb;
}

/* Styling for start IonButton */
.GameContainer ion-button.menu-button.start {
  --background: #1c1eb8;
  --background-hover: #354aa7;
}

/* Styling for settings IonButton */
.GameContainer ion-button.menu-button.settings {
  --background: #242424;
  --background-hover: #575757;
}

/* Styling for end IonButton */
.GameContainer ion-button.menu-button.end {
  --background: #ac2e2e;
  --background-hover: #a54747;
}

/* Apply hover effect */
.GameContainer ion-button.menu-button:hover {
  opacity: 0.8;
}


#container {
  position: relative;
}

.settings-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(59, 57, 57, 0.9); /* Utilisation d'une couleur de fond légèrement opaque */
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  z-index: 1000; /* Place le panneau de paramètres au-dessus du reste du contenu */
}



.invisible{
  display: none;
  position: absolute;
  z-index: 1000; /* Place le panneau de paramètres au-dessus du reste du contenu */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;

}

